<script>
    function sortTable(columnName) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("table");

        if (!table) {
            console.log("Table not found");
            return;
        }

        // Find the index of the column
        var column = Array.from(table.rows[0].cells).findIndex(cell => cell.id === columnName);
        if (column === -1) {
            console.log("Column not found");
            return;
        }

        switching = true;
        dir = "asc";

        while (switching) {
            switching = false;
            rows = Array.from(table.rows).slice(1); // Exclude the table header row

            for (i = 0; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("td")[column];
                y = rows[i + 1].getElementsByTagName("td")[column];

                if (x && y) {
                    // Detect the type of the data
                    var xValue = isNaN(x.innerText) ? x.innerText.toLowerCase() : parseFloat(x.innerText);
                    var yValue = isNaN(y.innerText) ? y.innerText.toLowerCase() : parseFloat(y.innerText);

                    if (dir === "asc") {
                        if (xValue > yValue) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir === "desc") {
                        if (xValue < yValue) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
            }

            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount === 0 && dir === "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
<h1>{{ Text['page_titles']['classes_list'] }}</h1>
<form method="GET" class="text-right">
    <input class="bg-gray-200 input" type="text" name="search" placeholder=" {{ Text['class_table']['filters']['search_placeholder']}}" value="{{ request.args.get('search', '') }}">
    <select class="input" name="per_page">
        <option value="10" {% if request.args.get('per_page', '') == '10' %}selected{% endif %}>10</option>
        <option value="20" {% if request.args.get('per_page', '') == '20' %}selected{% endif %}>20</option>
        <option value="50" {% if request.args.get('per_page', '') == '50' %}selected{% endif %}>50</option>
    </select>
    <button class="p-1 border-2 border-yellow-400 rounded-lg" type="submit">{{ Text['class_table']['filters']['search_button']}}</button>
</form>

<table class="min-w-full divide-y divide-gray-200" id="table">
    <thead>
        <tr>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-gray-50" id="id" onclick="sortTable('id')"><a href="#">{{ Text['class_table']['id'] }}</a></th>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-gray-50" id="name" onclick="sortTable('name')"><a href="#">{{ Text['class_table']['name'] }}</a></th>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-gray-50" id="year" onclick="sortTable('year')"><a href="#">{{ Text['class_table']['year'] }}</a></th>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-gray-50" id="num_students" onclick="sortTable('num_students')"><a href="#">{{ Text['class_table']['num_students'] }}</a></th>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-gray-50" id="section" onclick="sortTable('section')"><a href="#">{{ Text['class_table']['section'] }}</a></th>
            <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-gray-50" id="address" onclick="sortTable('address')"><a href="#">{{ Text['class_table']['address'] }}</a></th>
            <!-- Add more columns as needed -->
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
        {% for class in classes %}
        <tr>
            <td class="px-6 py-4 whitespace-nowrap" id="classid">{{ class[0] }}</td>
            <td class="px-6 py-4 whitespace-nowrap" id="classname">{{ class[1] }}</td>
            <td class="px-6 py-4 whitespace-nowrap" id="classyear">{{ class[2] }}</td>
            <td class="px-6 py-4 whitespace-nowrap" id="classnum_students">{{ class[3] }}</td>
            <td class="px-6 py-4 whitespace-nowrap" id="classsection">{{ class[4] }}</td>
            <td class="px-6 py-4 whitespace-nowrap" id="classaddress">{{ class[7] }}</td>
            <!-- Add more columns as needed -->
            <td class="flex px-6 py-4 space-x-8 whitespace-nowrap">
                <form method="POST" action="{{ url_for('deleteclass', id=class[0]) }}">
                    <button type="submit" class="text-red-500 hover:text-red-700">Delete</button>
                </form>
                <form method="POST" action="{{ url_for('editclass', id=class[0]) }}">
                    <button type="submit" class="text-yellow-500 hover:text-yellow-400">Edit</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {{ pagination_links|safe }}
</div>

<style>
    .pagination a {
        margin-inline: 10px; /* Adjust as needed */
    }
    
    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .pagination .current-page {
        color: #26ccff; /* Change to the color you want */
    }
</style>